 /* top nav and header  */
 .banner-top{
    display: flex;
   align-items: center;
    justify-content:space-between;
 }
 nav{
    margin-right:50px;
    font-size: 12px;

 }
 .banner-head{
     margin-left:80px;

 }
 .menu{
    display: flex;
    text-decoration: none;
    gap: 50px;
    list-style: none;
    margin-right: 50px;
 }
 /* banner description */
.about-title{
   text-align: center;
    
}
.company-dis{
width: 625px;
margin-left: 300px;
text-align: center;
color:#727272;
}
.first-btn{
    margin-left: 550px;
    background-color: orange;
    border: none;
    height: 35px;
    border-radius: 5px;
    color: aliceblue;
}
/* banner picture */
.banner-pic,img{
    width: 1220px;
    height: 700px;
    margin-top: 35px;
    margin-left: 20px;
    margin-right: 15px;
    
}
/* media quarry */

/* for phone  */

@media only screen and (max-width:576px) {
  .banner-top{
    flex-direction: column;
    
  }
    .banner-head{
margin-right: 250px;

    }
    nav{
    margin-right: 200px;
    }
 .menu{
    flex-direction: column;
 }
    .about-title{
    
    width:50px;
     margin-left:5px;
   } 
   .company-dis{
    margin-left:10px; 
    width:150px;
       }
    img{
        width: 400px;
        height:400px;
        margin-right: 10px;
    }
    .first-btn{
         margin-left: 20px;
    }
    
   }
 /* fetures */
 .team img{
    width: 400px;
height: 400px;
 }

 .team{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2,305px);
    
 }
 .second-header{
    width: 250px;
    
 }
 .features{
    color: orange;
 }
.quick{
    color: #727272;
}
.of{
    font-weight: 700;
}
.details{
    width: 300px;
}
.second-btn{
    background-color: orange;
    border: none;
    height: 25px;
    border-radius: 5px;
}
.jack-pot{
    display: flex;
    align-items: center;
    gap: 200px;
}
/* media quarry */
@media only screen and (max-width:576px) {
  .body{
    flex-direction: column;
  }  
  .team{
    display: grid;
    grid-template-columns: repeat(1,1fr);
   
  }
  .jack-pot{
    flex-direction: column;
  }
.second-header{
    /* margin-left:50px; */
    width: 40px;
}
.details{
    width: 150px;
    margin-right: 150px;
}
.second-btn{
    /* margin-left: 50px; */
}
.team img{
    width: 400px;
    height: 400px;
margin-right: 200px;
}
}
/* more feature  */
.enjoy{
    margin-top: 100px;
}
.pera{
    width: 550px;
}
.features-taitle{
    margin-top: 20px;
}
.girl{
    width: 600px;
    height: 500px;
}
.middle{
    display: flex;
}
.third-btn{
    background-color: coral;
    height: 100px;
    width: 150px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 25px;
    position: relative;
  top: -75px;
}
 /* extra seaction    */
 .extra-section{
    width: 800px;
    display: flex;
    gap: 260px;
    background-color: antiquewhite;
 }
 .extra{
    margin-top: 50px;
    margin-left: 100px;
 }
.bari{
    height: 400px;
    width: 400px;
}
.barir-dis{
    width: 350px;
}
.dolor{
    width: 330px;
}
/* some facts */
.icon-1{
height: 60px;
width: 50px;
margin-left: 50px;
position:relative;
bottom: 25px;
}

.box-1{
    border: 2px solid rgb(234, 250, 178);
width: 150px;
height: 150px;


}
.h2-tag{
    margin-left: 60px;
    margin-bottom: 15px;
    position: relative;
    bottom: 40px;
}
.award{
    margin-left:25px ;
    width: 150px;
    position: relative;
    bottom: 40px;
}
.all-box{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}
.box-1:hover{
    background-color: rgb(180, 212, 212);
}
/* our sponsor */
.sponsor{
    text-align: center;
    margin-top: 100px;
}
.amazon{
    height: 50px;
    width: 100px;
}
.sponsor-icon{
    display: flex;
    justify-content: space-evenly;
}
.footer{
    margin-top: 85px;
    text-align: center;
}
@media only screen and (max-width:576px){
    .middle{
        flex-direction: column;
    }
    .extra-section{
        flex-direction: column;
        width: 400px;
    }
    .all-box{
        flex-direction: column;
    }
    .sponsor-icon{
        flex-direction: column;
    }
    .pera{
        width: 400px;
    }
    .container{
        width: 400px;
    }
    .girl{
        width: 400px;
    }
    .bari{
        width: 400px;
    }
}